SunacCADApp/Web References/WebService932/IDM_SUNAC_392_validatePwd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://www.ekingwin.com/esb/header/v1" xmlns:WL5G3N1="http://www.ekingwin.com/esb/IDM_SUNAC_392_validatePwd" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" name="IDM_SUNAC_392_validatePwd" targetNamespace="http://www.ekingwin.com/esb/IDM_SUNAC_392_validatePwd" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:tns="http://www.ekingwin.com/esb/IDM_SUNAC_392_validatePwd" xmlns:err="http://www.ekingwin.com/esb/error/v1" xmlns:head="http://www.ekingwin.com/esb/header/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://www.ekingwin.com/esb/IDM_SUNAC_392_validatePwd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://192.168.2.219:8002/WP_SUNAC/APP_IDM_SERVICES/Proxy_Services/TA_EOP/IDM_SUNAC_392_validatePwd_PS?SCHEMA%2FWP_SUNAC%2FAPP_IDM_SERVICES%2FResources%2FWSDL%2FXSD_SYS_ERROR" namespace="http://www.ekingwin.com/esb/error/v1" />
      <xsd:import schemaLocation="http://192.168.2.219:8002/WP_SUNAC/APP_IDM_SERVICES/Proxy_Services/TA_EOP/IDM_SUNAC_392_validatePwd_PS?SCHEMA%2FWP_SUNAC%2FAPP_IDM_SERVICES%2FResources%2FWSDL%2FXSD_SYS_HEADER" namespace="http://www.ekingwin.com/esb/header/v1" />
      <xsd:element name="IDM_SUNAC_392_validatePwd">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" name="user" type="tns:user" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="user">
        <xsd:sequence>
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="username" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" name="HEADER" type="tns:HEADER" />
            <xsd:element maxOccurs="1" name="LIST" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" name="QueryFault" type="err:errorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="HEADER">
        <xsd:sequence>
          <xsd:element name="BIZTRANSACTIONID" type="xsd:string" />
          <xsd:element name="RESULT" type="xsd:string" />
          <xsd:element name="ERRORCODE" type="xsd:string" />
          <xsd:element name="ERRORINFO" type="xsd:string" />
          <xsd:element name="COMMENTS" type="xsd:string" />
          <xsd:element name="SUCCESSCOUNT" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="IDM_SUNAC_392_validatePwd">
    <WL5G3N0:part name="parameters" element="WL5G3N1:IDM_SUNAC_392_validatePwd" />
    <WL5G3N0:part name="parameters2" element="WL5G3N2:commonHeader" />
  </WL5G3N0:message>
  <WL5G3N0:message name="response">
    <WL5G3N0:part name="parameters" element="WL5G3N1:response" />
    <WL5G3N0:part name="parameters2" element="WL5G3N2:commonHeader" />
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryFault">
    <WL5G3N0:part name="parameters" element="WL5G3N1:QueryFault" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="IDM_SUNAC_392_validatePwd_ptt">
    <WL5G3N0:operation name="IDM_SUNAC_392_validatePwd">
      <WL5G3N0:input message="WL5G3N1:IDM_SUNAC_392_validatePwd" />
      <WL5G3N0:output message="WL5G3N1:response" />
      <WL5G3N0:fault name="QueryFault" message="WL5G3N1:QueryFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="IDM_SUNAC_392_validatePwd_ptt-binding" type="WL5G3N1:IDM_SUNAC_392_validatePwd_ptt">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="IDM_SUNAC_392_validatePwd">
      <WL5G3N3:operation soapAction="IDM_SUNAC_392_validatePwd" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" parts="parameters" />
        <WL5G3N3:header message="WL5G3N1:IDM_SUNAC_392_validatePwd" part="parameters2" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" parts="parameters" />
        <WL5G3N3:header message="WL5G3N1:response" part="parameters2" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="QueryFault">
        <WL5G3N3:fault use="literal" name="QueryFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="IDM_SUNAC_392_validatePwd_ptt-bindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="IDM_SUNAC_392_validatePwd_ptt-bindingQSPort" binding="WL5G3N1:IDM_SUNAC_392_validatePwd_ptt-binding">
      <WL5G3N3:address location="http://192.168.2.219:8002/WP_SUNAC/APP_IDM_SERVICES/Proxy_Services/TA_EOP/IDM_SUNAC_392_validatePwd_PS" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>